body,div,ul,li{
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
}
.noFloat:after{
    content: "";
    display: block;
    line-height: 0;
    height: 0;
    width: 0;
    clear: both;
}





.main{
    width: 450px;
    margin: 20px auto 0;
    border: 1px solid #999999;
}
.main .head{
    background: #f4f4f4;
}
.main .head ul li:first-child{
    border-bottom: 0;
    background: #FFFFFF;
}
.main .head ul li{
    float: left;
    width: 100px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

.main .bottom ul{
    width: 450px;
    display: none;
    height: 400px;
    font-size: 20px;

}
.main .bottom ul:first-child{
    display: block;
}



.main .head .arrow{
    float: left;
    width: 147px;
    height: 50px;
    border-bottom: 1px solid #999999;
    position: relative;
}
.main .head .arrow a:first-child{
    position: absolute;
    top: 10px;
    right: 15px;
    background-position:0 -50px;

}
.main .head .arrow a{
    position: absolute;
    top: 10px;
    right: 25px;
    display:block;
    width:5px;
    height:9px;
    margin-right:5px;
    margin-top:10px;
    overflow:hidden;
    cursor:pointer;
    background:url("images/arrow.png") 0 0 no-repeat;
}














/*.main .arrow{
    position:absolute;
    right:10px;
    top:0;
}
.main .arrow a{
    display:block;
    width:5px;
    height:9px;
    float:right;
    margin-right:5px;
    margin-top:10px;
    overflow:hidden;
    cursor:pointer;
    background:url("images/arrow.png") 0 0 no-repeat;
}
.main .arrow .next{
    background-position:0 -50px;
}
.main .arrow .prevStop{
    background-position:-60px 0;
}
.main .arrow .nextStop{
    background-position:-60px -50px;
}*/
